.body{
    background-color: #66CDAA;
}

.user{
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
}

.title{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
}

#quotes{
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-style: italic;
}

#author{
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.selection-box{
    background-color: aquamarine;
    max-height: 100%;
    font-family: 'Pacifico', cursive;
}

.square-box{
    max-width: 300px;
    min-width: 300px;
    transition: 0.5s ease;
}

.square-box:hover{
    transform: scale(1.2);
}

#hidden{
    background: transparent;
	border: none;
}